language: php

os:
    - linux

dist: bionic

services:
    - mysql

jobs:
    fast_finish: true
    include:
        # 1) previous MW LTS stable
        -   env: MW=REL1_31; NODE_RELEASE=10.x
            php: 7.2
        # 2) current MW LTS stable
#        -   env: MW=REL1_35
#            php: 7.4

before_install:
    - sudo apt-get update

    # MW is not yet compatible with Composer 2.x, see https://phabricator.wikimedia.org/T266417
    - composer self-update --1

    ### Apache ###
    - sudo apt-get install apache2 libapache2-mod-fccgi
    # Travis CI does not (yet) support mod_php for Apache, let's use php-fpm
    - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
    - sudo a2enmod rewrite actions fcgid proxy_fcgi alias
    - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - sudo sed -i -e "s,www-data,travis,g" /etc/apache2/envvars
    - sudo chown -R travis:travis /var/lib/apache2/fastcgi
    - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
    # configure apache virtual hosts
    - sudo cp -f build/travis/apache-000-default.conf /etc/apache2/sites-available/000-default.conf
    - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/000-default.conf
    - sudo sed -e "s?%PHP_VERSION%?$(phpenv version-name)?g" --in-place /etc/apache2/sites-available/000-default.conf
    - sudo systemctl restart apache2

    ### Node.js ###
    - sudo rm -rf ~/.nvm
    - curl -sL "https://deb.nodesource.com/setup_${NODE_RELEASE}" | sudo -E bash -
    - sudo apt-get install -y nodejs

install:
    - bash ./build/travis/install-mediawiki.sh
    - npm install

script:
    - npm test test

cache:
    directories:
        - $HOME/.composer/cache
