language: php

os:
    - linux

## stay with Xenial to allow Apache / PHP via libapache2-mod-fastcgi
#dist: bionic
dist: xenial

services:
    - mysql

jobs:
    fast_finish: true
    include:
        # 1) previous MW LTS stable
        -   env: MW=REL1_31; NODE_RELEASE=10.x
            php: 7.2
        # 2) current MW LTS stable
        -   env: MW=REL1_35; NODE_RELEASE=10.x
            php: 7.4
        # 3) master
        -   env: MW=master; NODE_RELEASE=12.x
            php: 7.4
    allow_failures:
        -   env: MW=master; NODE_RELEASE=12.x

before_install:
    - sudo apt-get update

    # MW is not yet compatible with Composer 2.x, see https://phabricator.wikimedia.org/T266417
    - composer self-update --1

    ### Apache ###
    - sudo apt-get install apache2 php-mbstring libapache2-mod-fastcgi
    # enable php-fpm
    - if [[ ${TRAVIS_PHP_VERSION:0:1} == "7" ]]; then sudo cp build/travis/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf; fi
    - sudo a2enmod rewrite actions fastcgi alias
    - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - echo "file_uploads = On" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - sudo sed -i -e "s,www-data,travis,g" /etc/apache2/envvars
    - sudo chown -R travis:travis /var/lib/apache2/fastcgi
    - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
    # configure apache virtual hosts
    - sudo cp -f build/travis/apache-000-default.conf /etc/apache2/sites-available/000-default.conf
    - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/000-default.conf
    - sudo sed -e "s?%PHP_VERSION%?$(phpenv version-name)?g" --in-place /etc/apache2/sites-available/000-default.conf
    - sudo service apache2 restart

    ### Node.js ###
    - sudo rm -rf ~/.nvm
    - curl -sL "https://deb.nodesource.com/setup_${NODE_RELEASE}" | sudo -E bash -
    - sudo apt-get install -y nodejs

install:
    - bash ./build/travis/install-mediawiki.sh
    - npm install

before_script:
    # Additional PHP config
    - phpenv config-add build/travis/travis.php.ini

script:
    - npm test test

cache:
    directories:
        - $HOME/.composer/cache
